# *.pickle
__pycache__/
.ipynb_checkpoints/
*.out
# *.png
*.bin
# *.json
# *.csv

# folders
informativeness/*/result/
data/
SentEval/data/

# encoders
# SimCSE
# DiffCSE
# PromCSE
MCSE
InfoCSE
gsInfoNCE
ESimC
SCD