*.pickle
__pycache__/
.ipynb_checkpoints/
*.out
# *.png
*.bin
*.json
# *.csv
scidocs

# folders
result/
data/
model/
SentEval/data/

# encoders
# SimCSE
# DiffCSE
# PromCSE
MCSE
InfoCSE
gsInfoNCE
ESimC
SCD